annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
black==26.1.0
cbor2==5.9.0
certifi==2026.2.25
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
chardet==3.0.4
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.6
daphne==4.2.1
Django==6.0.2
django-cors-headers==4.9.0
django-filter==25.2
django-rest-passwordreset==1.5.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
fastapi==0.135.3
flake8==7.3.0
google-trans-new==1.1.9
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2025.1.1
httpcore==0.9.1
httptools==0.7.1
httpx==0.13.3
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
Incremental==24.11.0
inflection==0.5.1
isort==8.0.1
mccabe==0.7.0
msgpack==1.1.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pillow==12.1.1
platformdirs==4.9.2
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
PyJWT==2.12.1
pyOpenSSL==26.0.0
python-dotenv==1.2.2
pytokens==0.4.1
pytz==2026.1.post1
PyYAML==6.0.3
qrcode==8.2
redis==7.4.0
requests==2.33.1
rfc3986==1.5.0
service-identity==24.2.0
sniffio==1.3.1
sqlparse==0.5.5
starlette==1.0.0
Twisted==25.5.0
txaio==25.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.44.0
watchfiles==1.1.1
websockets==16.0
zope.interface==8.2
